.faqDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.faqList {
  width: 90%;
  text-align: justify;
  font-size: 18px;
}

.faqList > li {
  font-weight: bold;
}

.faqList > p {
  margin: 10px;
}