.footerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 0;
  flex-wrap: wrap;
}

.footerDiv > div {
  margin: 10px;
}

.footerImgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerImg {
  height: 68px; 
}

.linksFooterDiv {
  display: flex;
  flex-wrap: wrap;
}

.linksFooterDiv > ul {
  text-align: left;
  text-decoration: none;
  list-style-type: none;
}

.footerLink {
  text-decoration: none;
  color: #fff;
}

.footerLink:hover {
  color: #fff;
}