.navLogo {
  height: 76px;
  margin-top: 20px;
}

/* .navMcsTitle {
  width: 150px;
  margin: 15px;
} */

#navBarItem {
  color: #fff;
}

.navItem {
  color: #fff;
}

.navItem:hover {
  color: #fff;
}

.line {
  border-left: 2.5px solid #000;
  height: 15px;
  margin: auto 5px;
}