.navLogo {
  height: 76px;
}

.navMcsTitle {
  width: 150px;
  margin: 15px;
}

.navItem {
  color: #000;
}

.navItem:hover {
  color: #000;
}

.line {
  border-left: 2.5px solid #000;
  height: 15px;
  margin: auto 5px;
}