.App {
  text-align: center;
  background-image: url('./img/MCS_bg_1920.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1, p, li {
  color: #fff;
}

/* .navBar, .footerDiv {
  background-color: #fff;
} */

/* @media only screen and (max-width: 500px) {
  .App {
    background-image: url('./MCS/Website\ Collateral/Background.PNG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 101vw 101vh;
  }
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
